
<ion-header class="ion-no-border" translucent="">

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="volver"
        color="primary"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>

    <ion-title class=" ion-text-uppercase">{{titulo}}</ion-title>

    <ion-buttons slot="end">
      <ion-avatar >
        <img alt="Silhouette of a person's head" src="/assets/stan-lee.jpg" />
        <!-- <ion-img src="/assets/stan-lee.jpg""></ion-img> -->
      </ion-avatar>
    </ion-buttons>

  </ion-toolbar>

  
</ion-header>