

<ion-tabs>
  <!--  -->
  <ion-tab-bar slot="bottom,top">
    <!--  -->
    <!-- las url van el el tab= y se modifican en el tabs.routing,.module -->
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>segments</ion-label>
    </ion-tab-button>
    <!--  -->
    <ion-tab-button tab="tab2">
      <ion-icon name="apps"></ion-icon>
      <ion-label>grid</ion-label>
    </ion-tab-button>
    <!--  -->
    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Slide</ion-label>
    </ion-tab-button>
    <!--  -->
  </ion-tab-bar>
</ion-tabs>