<!-- //etiqueta para llamar el ion header desde el modulo creado por consola
carpeta creada components con::: ionic g m components 
luego la carpeta con sus componentes con : ionic g component components/header --spec=false-->
<app-header titulo="Avars"> 

  

</app-header>

<ion-content class="ion-padding">
  <ion-button  expand="block" >
    Mostrar alerta
  </ion-button>
  <br>

  <ion-avatar  >
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <br>

  <ion-chip >
    <ion-avatar >
      <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip>

</ion-content>

