<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="Cancelar()" color="danger">
        Cancelar
      </ion-button></ion-buttons
    >

    <ion-title>Bienvenido</ion-title>
    <ion-buttons slot="end"
      ><ion-button (click)="Enviar()" color="danger">
        Enviar
      </ion-button></ion-buttons
    >
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" placeholder="Escribe tu nombre"></ion-input>
  </ion-item>
</ion-content>
